.intro__subtitle {
  max-width: 690px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 40px 0 33px 0;
}

@media screen and (max-width: 768px) {
  .intro__subtitle {
    max-width: 720px;
    /* max-height: 208px; */
  }
}

@media screen and (max-width: 320px) {
  .intro__subtitle {
    max-width: 288px;
    /* max-height: 520px; */
    margin: 34px auto 64px auto;
  }

}
