.lead__signature {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 8px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__signature{
    max-width: 928px;
    margin: 8px auto 92px auto;
  }
}

@media screen and (max-width: 768px) {
  .lead__signature {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__signature {
    max-width: 320px;
    margin: 8px 0 0 16px;
  }
}
