.place__image {
  grid-area: image;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
    margin: 32px 0 32px 0;
  }
}
