@media screen and (max-width: 1024px) {
	.lead__title {
		margin: 128px auto 32px auto;
	}

	.lead__subtitle {
		margin: 0 auto 56px auto;
	}

  .lead__image {
    max-width: 928px;
    /* max-height: 580px; */
  }

  .image__subtitle {
    margin: 8px 0 0 48px;
  }

  .photo-grid {
    max-width: 928px;
    /* max-height: 942px; */
  }

  .photo-grid__list {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(min-content, max-content)); */
    /* grid-template-rows: repeat(4, minmax(min-content, max-content)); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
    justify-content: center;
  }

  .photo-grid__item {
    max-width: 300px;
    margin: 0 auto;
  }

 .photo-grid__img{
    max-width: 300px;
    height: 225px;
  }

  .place {
    max-width: 928px;
  }

  .place__title {
    margin: 0 32px 48px 0;
  }

  .place__image {
    max-width: 440px;
    margin: 0 32px 0 0;
  }

  .place__paragraphs {
    max-width: 456px;
  }

  .cover__background {
    width: 1024px;
    height: 640px;
  }

  .cover__background_opacity{
    position: absolute;
    width: 1024px;
    height: 640px;
    top: 0;
    left: 0;
  }

  .cover__text {
    position: absolute;
    top: 195px;
  }

  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 28px 0 0 24px;
  }

	.lead__title {
		margin: 128px auto 32px auto;
	}

	.lead__subtitle {
		margin: 0 auto 64px auto;
	}

  .lang-link_en {
    margin: 46px 24px 0 0;
  }

  .lead__image {
    max-width: 768px;
    /* max-height: 480px; */
  }

  .image__subtitle {
    margin: 8px 0 0 24px;
  }

  .intro__title {
    max-width: 690px;
    /* max-height: 58px; */
}

.intro__subtitle {
  max-width: 720px;
  /* max-height: 208px; */
}

.intro__list {
  max-width: 720px;
  max-height: 90px;
  margin: 0 0 88px 0;
}

.photo-grid {
  max-width: 720px;
  /* max-height: 1664px; */
  /* margin: 0 auto 88px auto;
  gap: 16px; */
}

.photo-grid__list {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(min-content, max-content)); */
  /* grid-template-rows: repeat(6, minmax(min-content, max-content)); */
  grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  gap: 16px;
  justify-content: center;
}

.photo-grid__item {
  max-width: 352px;
  margin: 0 auto;
  /* max-height: 264px; */
}

.photo-grid__img {
  max-width: 352px;
  height: 264px;
}

.places {
  grid-row-gap: 73px;
  max-width: 720px;
}

.place__title {
  font-size: 42px;
  line-height: 110%;
  margin: 0 28px 48px 0;
}

.place__image {
  max-width: 340px;
  margin: 0 28px 0 0;
}

.place__url-heading {
  font-weight: 400;
  font-size: 12px;
}

.place__link {
  font-size: 18px;
  line-height: 122%;
}

.place__paragraphs {
  max-width: 352px;
}

.place__paragraph {
  font-size: 16px;
  line-height: 163%;
  margin: 0 0 25px 0;
}

.cover {
  margin-bottom: 88px;
}

.cover__background_opacity{
  position: absolute;
  width: 768px;
  height: 480px;
  top: 0;
  left: 0;
}

.cover__background {
  width: 768px;
  height: 480px;
}

.cover__text {
  position: absolute;
  top: 115px;
}

.footer {
  max-width: 720px;
}
}

@media screen and (max-width: 320px) {
	.lead__title {
		margin: 106px auto 16px auto;
		max-width: 288px;
		font-size: 40px;
		line-height: 44px;
	}

	.lead__subtitle {
		margin: 0 auto 64px auto;
		max-width: 288px;
		/* max-height: 40px; */
		font-size: 16px;
		line-height: 20px;
	}

  .header__logo {
    width: 142px;
    height: 42px;
    margin: 16px 0 0 16px;
  }

  .lang-link {
    margin-top: 30px;
  }

  .lang-link_ru {
    margin: 30px 18px 0 0;
  }

  .lang-link_en {
    margin: 30px 16px 0 0;
  }

  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }

  .intro__title {
    max-width: 288px;
    /* max-height: 70px; */
    font-size: 32px;
    line-height: 35px;
    margin: 64px auto 40px auto;
  }

  .intro__subtitle {
    max-width: 288px;
    /* max-height: 520px; */
    margin: 34px auto 64px auto;
  }

  .image__subtitle {
    margin: 8px 0 0 16px;
  }

  .intro__list {
    max-width: 288px;
    /* max-height: 90px; */
    margin: 0 auto 63px auto;
  }

  .photo-grid {
    max-width: 288px;
    /* max-height: 2724px; */
    gap: 12px;
    margin: 0 auto 64px auto;
  }

  .photo-grid__list {
    display: grid;
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    grid-template-rows: repeat(12, minmax(min-content, max-content));
    gap: 12px;
    justify-content: center;
  }

  .photo-grid__item {
    margin: 0 auto;
    max-width: 288px;
  }

  .photo-grid__img {
    height: 216px;
  }

  .places {
    display: grid;
    grid-row-gap: 50px;
    max-width: 320px;
  }

  .place {
    display: inline-block;
    margin: 0;
  }

  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    margin: 0 auto 32px auto;
  }

  .place__website {
    max-width: 288px;
    margin: 0 auto 32px auto;
  }

  .place__url-heading {
    font-size: 12px;
    line-height: 100%;
  }

  .place__link {
    font-size: 18px;
    line-height: 122%;
  }

  .place__image {
    max-width: 320px;
    margin: 0 auto 32px auto;
  }

  .place__paragraphs {
    max-width: 288px;
    margin: 0 auto;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    margin: 0 auto 25px auto;
  }

  .cover {
    margin: 66px 0 64px 0;
  }

  .cover__background_opacity{
    position: absolute;
    width: 320px;
    height: 200px;
    top: 0;
    left: 0;
  }

  .cover__background {
    width: 320px;
    height: 200px;
  }

  .cover__text {
    position: absolute;
    top: 33px;
  }

  .cover__title {
    margin: 0 0 16px 0;
    max-width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
  }

  .cover__subtitle {
    max-width: 288px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
  }

  .footer {
    flex-direction: column;
    max-width: 288px;
    margin: 0 auto;
    outline: 3px solid red;
  }

  .footer__links {
    display: grid;
    gap: 32px;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .footer__link {
    list-style-type: none;
    margin: 0 18px 0 0;
    color: #FFFFFF;
  }

  .footer__author {
    margin: 48px 0 24px 0;
    color: #FFFFFF;
  }
}
