.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
