.header__logo {
  background-image: url(../../../images/logo/header_logo.svg);
  width: 176px;
  height: 52px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 28px 0 0 0;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 28px 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
    margin: 16px 0 0 16px;
  }
}
