.header__link {
  margin: 0 18px 0 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  list-style-type: none;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
  }
}

 .header__item:last-child .header__link {
  margin: 0;
}
