.header__en {
  margin: 46px 48px 0 0;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .header__en {
    margin: 46px 24px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .lang-link_en {
    margin: 30px 16px 0 0;
  }
}
