.lead__image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}
