.intro {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
  }
}
