.cover__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .cover__text {
    max-width: 560px;
  }
}

@media screen and (max-width: 320px) {
  .cover__text {
    max-width: 288px;
  }
}
