.lead__subtitle {
  font-family: 'Inter';
  margin: 0 auto 64px auto;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
		margin: 0 auto 56px auto;
	}
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
		margin: 0 auto 56px auto;
	}
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
		margin: 0 auto 40px auto;
		max-width: 288px;
		font-size: 16px;
		line-height: 20px;
	}
}
