.cover__wrapper {
  max-width: 1184px;
  position: relative;
  margin: 92px auto 92px auto;
}

@media screen and (max-width: 768px) {
  .cover__wrapper {
    max-width: 768px;
    position: relative;
    margin: 90px auto 88px auto;
  }
}

@media screen and (max-width: 320px) {
  .cover__wrapper {
    max-width: 320px;
    position: relative;
    margin: 66px auto 64px auto;
  }
}
