.cover {
  position: relative;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px 0 64px 0;
  }
}
