.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas:
  "title website"
  "image paragraph";
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    display: grid;
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: inline-block;
    margin: 0;
    gap: 50px;
  }
}
