.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto 24px auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    max-width: 288px;
    margin: 0 auto;
  }
}
