.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-area: website;
  max-width: 456px;
  margin: 0 0 48px 0;
}

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 288px;
    margin: 0 auto 32px auto;
  }
}
