.intro__title {
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 92px 0 0 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 690px;
    margin: 88px 0 0 0;
}
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    margin: 64px 0 40px 0;
  }
}
